
/* Display-block,inline
 */
/* h,div,p  these tags are default block tags.
span, a ......   this tags are inline tags.
for inline tags both top & bottom are not applicable
in padding and margin property. */



.block {
    display: block;
    background: red;
    text-align: center;
    margin: 20px auto;
    width: 100px;
    padding: 10px;
}

.inline {
    margin: 20px;
    font-size: 20px;
    background: blueviolet;
    color: white;
    display: block;
}

/* 1. Display-block: here <h> tags, <div> tag and <p> tags are 
automatically enabled with block display.
This mean, when we used background proprty, then it will occupy full width. */
/* 2. Display-inline: here when we used background property,
the width be taken upto text area.
3. How to keep block elements in center ?
In block we used text align and margin, this is beacuse.
those are block properties, so by giving normal text align,
those not get set to akignment so we used margin.*/

