
h1 {
    color: blueviolet;
}

p {
    color: crimson;
    background-color: darkgray;
}

/* Selectrors : This nothing but the tags which we used,
befir the flower brackets. In this file h1 & p are selectors */
/* Property: This is nothing but, the word which we use after open flower bracket
like color, background, padding etc, */
/* Value: this is nothing but, values are like
red, blue, 10px, 24px, top, bottom etc., */



/*  a. Link tag is mandetory in every html file, if you want
to import css designs to html file. (This importing css file
to html file is known as External css) 
b. While we are importing this css file into html file,
Then this file must be imported in between the <link> tag in html file. */